.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.listItems {
  display: inline-block;
  white-space: nowrap;
  max-width: 200px;
  min-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px 10px;
}
.listTitle {
  display: inline-block;
  min-width: 230px;
  font-weight: bold;
  padding: 20px 0px;
}
.listHead {
  background-color: rgb(207, 144, 50);
  margin-bottom: 30px;
  border-bottom: 15px solid white;
  color: white;
  font-size: 30px;
}
.paginationStyle {
  padding: 20px 0px;
}
.list {
  background-color: blanchedalmond;
  padding-bottom: 5px;
}
.listItem {
  border-bottom: 1px solid white;
}
.AppName {
  color: black;
  font-weight: bold;
  font-size: 60px;

  margin: 0px;
  background-color: purple;
  color: white;
  padding: 8px 60px;
  border-radius: 50px;

  margin: 10px 0px;
}
