.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.AnsBox {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
  min-width: 400px;
}
.buttonAnswerBottom {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}
.spaceBtweenMatchs {
  padding: 0px 80px;
}
.mactchedvalue {
  display: inline-block;
  min-width: 200px;
  padding-right: 80px;
}

.greeenBox {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: rgb(71, 252, 0);
}
.redBox {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: rgb(252, 0, 0);
}
.refresh {
  /* border: none; */
  outline: none;
}
.refresh :hover {
  cursor: pointer;
}
.result {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
