.h1clr {
  color: azure;
}
.circleGray {
  background-color: rgb(92, 92, 92);
  color: wheat;
  border-radius: 100%;
  padding: 20px 20px;
}
.container {
  padding: 50px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}
.circleRed {
  background-color: red;
  color: wheat;
  border-radius: 100%;
  padding: 20px 20px;
}
.qusions {
  /* background-color: red; */

  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  margin-top: 80px;

  min-width: 600px;
  min-height: 300px;
}
form {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
