.App {
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-evenly;
 
}
.todo-text {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 50px;
  min-width: 500px;
  min-height: 20px;
  max-height: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
 background-color: greenyellow;
}
