.firstPage,
.country-details-page,
.inputCountryForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.countryName {
  padding-left: 5px;
}
input {
  margin: 10px;
}
label {
  font-weight: bold;
}
.country-details-page {
  background-color: rgb(43, 255, 0);
  padding-bottom: 300px;
}
img {
  display: block;
}
