.App {
  align-content: center;
  text-align: center;
}

.grayCard {
  display: inline-block;
  background-color: gray;
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  max-width: 20%;
  max-height: 60%;
  text-indent: 1;
}
.redCard {
  display: inline-block;
  background-color: red;
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  max-width: 20%;
  max-height: 60%;
  text-indent: 1;
}
.greenCard {
  display: inline-block;
  background-color: green;
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  max-width: 20%;
  max-height: 60%;
  text-indent: 1;
}
